language: python
python:
  - "2.7"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - clang

install:
  - curl https://sh.rustup.rs -sSf | sh -s -- -y
  - export PATH="${HOME}/.cargo/bin:${PATH}"
  - which cargo
  - which rustc
  - pip install wheel
  - make develop

script: make test
